* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .dropdown-menu {
    overflow-y:auto; 
    width: 50vh;
    max-height:50vh
   }
   .table-responsive {
    max-height:300px;
}